@model GammaWear.ViewModels.SockDetailsViewModel
@using GammaWear.Helpers

@{
    ViewData["Title"] = "Delete Sock";
}

<h1>Delete Sock</h1>

<div>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="~/images/@Model.ImageFile" alt="@Model.Description">
            </div>

            <div class="col-md-6">

                <p><strong>Material:</strong>  @Model.MaterialName</p>
                <p><strong>Size:</strong> @EnumHelper.GetDisplayName(Model.SockSize)</p>
                <p><strong>Style:</strong> @Model.SockStyleName</p>
                <p><strong>Brand:</strong> @Model.BrandName</p>
                <p><strong>Outdoor Sport:</strong> @Model.OutdoorSportName</p>
                <p><strong>Consumer Group:</strong> @Model.ConsumerGroup</p>
                <p><strong>Season:</strong> @Model.SeasonName</p>
                <p><strong>Price:</strong> @Model.Price.ToString("C")</p>
                <p><strong>In Stock:</strong> @Model.Quantity</p>
                <br />
                <p><strong>Description:</strong>@Model.Description</p>
            </div>
        </div>
        <form id="deleteForm" asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="button" value="Delete" class="btn btn-custom" onclick="confirmDelete()" />

            <a asp-controller="Home" asp-action="Index" class="btn btn-custom">Home</a>
        </form>
    </div>
</div>



@section Scripts {
    <!-- Include SweetAlert2 from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function confirmDelete() {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to delete this sock?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-danger',
                cancelButtonClass: 'btn btn-secondary',
                buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('deleteForm').submit();
                }
            });
        }
    </script>
}