@model GammaWear.ViewModels.SockDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using GammaWear.Helpers

<h1>Sock Detail</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/images/@Model.ImageFile" alt="@Model.Description">
        </div>
        <div class="col-md-6">
            <p class="d-flex align-items-center">
                <strong>Rating:</strong>
                <span class="ml-2">
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= @Model.Rating)
                        {
                            <span class="fa fa-star star-filled"></span>
                        }
                        else
                        {
                            <span class="fa fa-star-o"></span>
                        }
                    }
                </span>
            </p>



            <p><strong>Material:</strong>  @Model.MaterialName</p>
            <p><strong>Size:</strong> @EnumHelper.GetDisplayName(Model.SockSize)</p>
            <p><strong>Style:</strong> @Model.SockStyleName</p>
            <p><strong>Brand:</strong> @Model.BrandName</p>
            <p><strong>Outdoor Sport:</strong> @Model.OutdoorSportName</p>
            <p><strong>Consumer Group:</strong> @Model.ConsumerGroup</p>
            <p><strong>Season:</strong> @Model.SeasonName</p>
            <p><strong>Price:</strong> @Model.Price.ToString("C")</p>
            <p><strong>In Stock:</strong> @Model.Quantity</p>
            <br />
            <p><strong>Description:</strong>@Model.Description</p>
        </div>
        <div>



            <div>
                @if (User.IsInRole("Editor"))
                {
                    <form method="get" asp-action="Create" class="d-inline">
                        <button type="submit" class="btn btn-custom mr-2">Create</button>
                    </form>
                    <form method="get" asp-action="Edit" asp-route-id="@Model.Id" class="d-inline">
                        <button type="submit" class="btn btn-custom mr-2">Edit</button>
                    </form>
                    <form method="get" asp-action="Delete" asp-route-id="@Model.Id" class="d-inline">
                        <button type="submit" class="btn btn-custom mr-2">Delete</button>
                    </form>
                }
                <form method="get" asp-controller="Home" asp-action="Index" class="d-inline">
                    <button type="submit" class="btn btn-custom">Home</button>
                </form>
            </div>

        </div>

    </div>
</div>